body{
    background-color: white;
}

h1{
    text-align: center;
    font-family: monospace;
    font-size: 2rem;
    
}

.first-sentence{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.second-sentence{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
}
