/*desktop layout*/

/*@media only screen and (min-width: 768px) { */

@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url(./font/NeueHaasDisplay-Roman.woff2) format('woff2'),
        url(./font/NeueHaasDisplay-Roman.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Bold';
    src: url(./font/NeueHaasDisplay-Bold.woff2) format('woff2'),
        url(./font/NeueHaasDisplay-Bold.woff) format('woff');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}



body {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 0.25fr 1.1fr 1.25fr 1fr;
    gap: 0px 200px;
    grid-auto-flow: row;
    grid-template-areas:
        "title year-selector"
        "title image-placeholder"
        "introduction image-placeholder"
        "introduction image-explanation";

    font-family: 'Neue Haas Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
       
}

.title {
    grid-area: title;
    font-family: 'Neue Haas Grotesk Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 4rem;
    margin: 0%;


}


.year-selector {
    grid-area: year-selector;
    font-family: monospace;
    font-size: 1rem;
    color: white;
    background-color: black;
    border: none;

    /* button styling */
    width: 50%;
    height: 30%;


}

.image-placeholder {
    grid-area: image-placeholder;
    margin: 0%;
    
}

.image-explanation {
    width: 90%;
    height: 50%;
    margin-top: -900px;
    grid-area: image-explanation;
    font-family: 'Neue Haas Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 1.75 rem;

}

.introduction {
    grid-area: introduction;
    font-family: 'Neue Haas Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    width: 100%;
}

.conflict-text{
    margin-top: 0%;
}

.imagedata{
    min-width: 320px;
    max-height: 400px;
}