*{
    background-color: purple;
    font-family: 'Courier New', Courier, monospace;
}
.upperpart {
    width: 100%;
    font-size: medium;
    color: white;
    display: flexbox ;
}

#logo{
    background: transparent;
    justify-content: flex-end;
    width: 8%;
}

#menu{
    text-align: end;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

a:link, a:visited {
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: white;
    background-color: transparent;
}
a:hover, a:active {
    text-decoration: underline overline;
    color: #aaa;
}

h1{
    color: white;
}

#button {
    color: white;
    font-size: large;
    border-width: 4px;
    border: white;
    border-radius: 1%;
    animation: pulse 5s infinite;
}
